@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');


:root{
    --primaryColor: #EB2590;
    --textPrimary: #DD2387;
    --fadedPrimary: #fbf0f7;
    --textSecondary: #535659;
    --secondaryBlack: #000000;
    --white: #FFFFFF;
    font-family: 'Lato';
}
*img{
    object-fit: cover;
    object-position: center;
    width: 20px;
}
body{
    background-color: #FFFFFF;
    /* background-color: #EB2590; */
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    font-family: 'Lato';
}
.App{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;

}

/* Nav bar */
.navBar-container{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px; 
    /* this margin, you might remove it when you get the actual height and can use juc- space-between. */
}
.nav-list ul{
    display: flex;
    width:auto;
    padding: 0;
    justify-content: space-between;
    gap: 30px;
}
li.nav-list-items{
    font-weight: 400;
    font-size: 20px;
    line-height: 153.2%;
    list-style: none;
    width: fit-content;
    color: var(--textSecondary);
}
.logo-container img{
    width: 196.1px;
}

.sign-in-btn{
    width: 190px;
    height: 55px;
    border: 1px solid #EB2590;
    border-radius: 6px;
    background-color: var(--white);
    color: var(--textPrimary);

    font-size: 20px;
    line-height: 153.2%;
}
.hamburger-div,
.hamburger-img{
    width: 32px;
    visibility: hidden;
    display: none;
}

/* Hero section */
.hero-container-partners{
    width: 80%;
    display: flex;
    flex-direction: column;
}

.hero-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* tentative margin */
    margin-bottom: 70px;
    padding-bottom: 70px;
}

.hero-image-div{
    width: 488.94px;
    height: 667.04px;
    box-sizing: border-box;
}
.hero-image-div img{
    width: 100%;
    height: 100%;
    border-top-left-radius: 45%;
    border-top-right-radius: 45%;
    transition: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.hero-text-div {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.brand-awareness-div{
    width: 446px;
    height: 43px;
    background-color: var(--fadedPrimary);
    /* opacity: 0.1; */
    border-radius: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.brand-awareness-div p{
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: var(--primaryColor);
}
.brand-awareness-div p span{
    border-bottom: 1px solid var(--primaryColor);
}

.hero-text-div h1{
    font-weight: 400;
    font-size: 70px;
    line-height: 108%;
}

.hero-text-div h1 span{
    color: var(--primaryColor);
    font-family: 'Playfair Display';
}
.hero-description{
    width: 530px;
    font-weight: 400;
    font-size: 24px;
    line-height: 174%;
    color: var(--secondaryBlack);
}

/* partners section */


.partners{
    width: 100%;
    /* height: 142px; */
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

}
.ourPartners{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.partners p{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.38em;
    color: #6B6B6B;
}

.partners-divider{
    height: 2px;
    background: linear-gradient(90deg, rgba(192, 204, 218, 0.1) 0%, rgba(192, 204, 218, 0.6) 50.38%, rgba(192, 204, 218, 0.1) 100%);
}
.partners-divider.one{
    width: 80%;
}
.partners-divider.two{
    width: 100%;
    
}
.images-partner{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 35px 0;
}
        /* for the previous partners images */
/* .images-partner img{
    width: 12%;
} */
.images-partner img{
    width: 110%;
}

/* blog lead styling */
.blog-lead-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 71px;

    width: 80%;
    /* height: 928px; */
    box-sizing: border-box;
}
.blog-lead-container h1{
    font-weight: 400;
    font-size: 70px;
    line-height: 108%;

    color: #000000;
    
}
.blog-img-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    justify-content: space-between;

    width: 100%;
    box-sizing: border-box;
    /* height: 705px; */

}
.blog-text-wrapper{
    padding: .4em .6em;
}
.img-div {
    width: 48%;
    background: #FAFAFA;
    border-radius: 8px;

    margin-bottom: 50px;
}
.img-div .blog-title{
    font-weight: 500;
    font-size: 32px;
    line-height: 135%;
}
.img-div .blog-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 167.7%;
    color: #333333;

    /* height: 66px; */
}
.img-div img{
    width: 100%;
    border-radius: 8px;
}
.view-more{
    font-weight: 400;
    font-size: 20px;
    color: #ED1F8E;

    display: flex;
    align-items: center;
    gap: 10px;
    padding-top: 12px;
    
}
.view-more img{
    width: 24px;
}
/* business here section */

.business-here{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 64px;
    padding-top: 70px;
}
.business-here p{
    font-weight: 400;
    font-size: 70px;
    line-height: 108%;
    margin: 0;
}
.business-here img{
    width: 100%;
}

/* image slider */
.imageSlider-container{
    width: 100%;
    height: 912px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;


    background-color: rgba(174, 249, 130, 0.1);
    border-radius: 9.43156px;
}
.imageSlider-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 39px;

    width: 668px;
    /* height: 259px; */
}
.imageSlider-text p{
    font-weight: 400;
    font-size: 40px;
    line-height: 134.5%;
    text-align: center;
    color: #2F8B56;
    margin: 0;
}
.imageSlider-text .imageSlider-btn{
    box-sizing: border-box;
    padding: 15px 15px 15px 15px;
    height: 58px;
    width: 253px;
    background: #3EBA73;
    border-radius: 3.72581px;

    font-weight: 400;
    font-size: 19.0752px;
    line-height: 153.2%;
    text-align: center;
    color: #FFFFFF;

    border: transparent;
    outline: transparent;
}

.carousel{
    max-width: 100%;
    cursor: grab;
    overflow: hidden;
}
.inner-carousel{
    display: flex;
    gap: 15px;
}
.item img{
    box-sizing: border-box;
    width: 242.13px;
    height: 330.33px;
        border-top-left-radius: 45%;
        border-top-right-radius: 45%;
        pointer-events: none;
}

/* she-hero section */
.she-hero{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 50px 0;
    width: 80%;
}
.she-hero h1{
    font-weight: 400;
    font-size: 70px;
    line-height: 108%;
}
.she-hero span{
    color: var(--primaryColor);
    font-family: 'Playfair Display';
}
.she-hero img{
    width: 100%;
    border-radius: 10px;
}



/* building for women - testimonial */
.building-for-women{
    width: 100%;
    background: #FFFFFF;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    gap: 69px;


}
.build-image-div{
    width: 50%;
}
.build-image-div img{
    width: 100%;
}
.women-text-wrapper{
    width: 40%;
    
}

.women-title {
    font-weight: 400;
    font-size: 46px;
    line-height: 55px;
    text-transform: capitalize;
    color: #000000;
    margin: 0;
    text-align: left;
    width: 100%;
}
.women-title span{
    font-family: 'Playfair Disney';
    line-height: 61.32px;
    color: var(--textPrimary);
}
.women-desc{
    font-weight: 400;
    font-size: 19.9093px;
    line-height: 234.5%;
    color: #030027;

    width: 100%;
    /* margin: 0; */
}
.swipe-testimonial{
    width: 133.23px;
    display: flex;
    justify-content: space-between;

}
.swiper{
    width: 55.66px;
    height: 55.66px;
    left: 879.07px;
    top: 528px;

    background: #FFFFFF;
    box-shadow: 0px 7.79213px 10.0185px rgba(101, 101, 101, 0.12);
    transform: matrix(-1, 0, 0, 1, 0, 0);
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.swiper img{
    width: 12.8px;
}
.swipe-name{
    font-weight: 900;
    font-size: 23.8673px;
    line-height: 183.5%;
    color: #030027;
}

/* call to download */
.download-section{
    width: 1200px;
    height: 219px;
    margin: 145px 20px;
    box-sizing: border-box;
    background-image: linear-gradient(91.91deg, #ED1F8E 0%, #FBF2F2 100%);
    border-radius: 15px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

}
.download-desc{
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: 900;
}
.download-title{
    margin: 0;
    font-size: 36px;
    line-height: 24px;
    color: #FFFFFF;
    padding-bottom: 10px;
}
.download-images{
    width: 360px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.download-images img{
    width: 168px;
}
/* footer design*/
.footer{
    box-sizing: border-box;
    width: 100%;
    height: 634px;
    background-color:var(--secondaryBlack);
    color: var(--white);

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 106px 94px 54px 94px;
}

.div-1-footer{
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.logo-white{
    width: 221px;
    padding-bottom: 24px;
}
.first- p{
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    width: 165px;
}

.newsletter-div{
    width: 289px;
    height: 51px;
    border-bottom: .5px solid var(--white);

    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}

.newsletter-div input{
    border: none;
    outline: transparent;
    background-color: transparent;

}
.newsletter-div button{
    min-width: 50px;
    height: 50px;
    background-color: var(--primaryColor);
    border-radius: 8px 8px 0 0;
    border: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter-div button img{
    width: 6.18px;
    height: 10px;
}

.second-{
    display: flex;
    width: 50%;
    justify-content: space-evenly;
}
.second- ul{
    margin: 0;
}
li.footer-links{
    list-style: none;
    font-weight: 500;
    line-height: 19.2px;
    padding-bottom: 17px;
}
.footer-links.first-link{
    font-weight: 900;
    padding-bottom: 24px;
}

.socials {
    padding-bottom: 24px;
}

.socials p{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #E8F4D9;
    margin: 0;
    padding-bottom: 24px;
}
.socials-img{
    display: flex;
    justify-content: flex-start;
    align-items: center;

    gap: 5px;
}
.socials button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primaryColor);

    border: transparent;
    outline: transparent;

    display: flex;
    justify-content:center;
    align-items: center;
}
.socials button img{
    width: 50%;
}

.install-div p {
    font-size: 14.3px;
    font-weight: 700;
    line-height: 22px;
}
.install-apps {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.install-apps img{
    width: 128.41px;
}

.cookie-policy{
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    padding-bottom: 20px;

}
.cookie-policy span{
    color: var(--primaryColor);
}
.copyright{
    padding-top: 20px;
    font-weight: 500;
    font-size: 14px;
    line-height: 19px;
    color: #DD2387;
    margin-top: 0;
}



    /* =======
     
    Media Queries

    ===== */
    @media screen and (max-width: 1300px) {
        .navBar-container,
        .hero-container-partners,
        .business-here,
        .download-section,
        .blog-lead-container{
            width: 90%;
        }
    }

    @media screen and (max-width: 1250px) {
        .building-for-women{
            gap: 40px;
        }
        .women-text-wrapper{
            width: 44%;
            
        }
    }
    @media screen and (max-width: 1220px) {
        .hero-text-div h1{
            font-size: 65px;
            line-height: 122%;
        }
        .hero-description{
            font-size: 20px;
            width: 480px;
        }
        .hero-image-div{
            height: 80%;
        }
        .women-desc{
            width: 500px;
            font-size: 16px;
            line-height: 200%;
        }

        .blog-lead-container h1{
            font-size: 60px;
            margin-bottom: 20px;
        }
        .img-div .blog-text{
            font-size: 18px;
        }
        .build-image-div{
            width: 46%;
        }
        .download-title{
            font-size:28px;
        }
        .download-desc{
            font-size: 32px;
        }
        .footer{
            padding: 85px 70px 45px 70px;
        }
        /* footer ul */
        .second- ul {
            padding-left: 25px
        }
    }

    @media screen and (max-width: 1058px) {
        .partners-divider.one{
            width: 70%;
        }
        .footer{
            padding: 60px 55px 40px 55px;
        }
        .download-title{
            font: size 20px;
            padding-bottom: 0;
        }
        .download-desc{
            font-size: 24px;
        }
        .blog-lead-container h1{
            margin-bottom: 0px;
        }
        .hero-description{
            width: 80%;
        }
        .hero-text-div h1{
            font-size: 50px;
        }
        .blog-text {
            font-size: 16px;
        }

        .women-text-wrapper{
            width: 50%;
            
        }
    

    }

        /* 
    making the screen responsive, single column
*/

    @media screen and (max-width: 992px) {
        .partners-divider.one{
            width: 60%;
        }
        .hero-container{
            flex-direction: column-reverse;
            text-align: center;
        }

        .hero-image-div{
            width: 75%;
            margin-bottom: 3rem;
        }
        .hero-text-div{
            width: 75%;
            justify-content: center;
            align-items: center;
        }
        .hero-text-div h1{
            font-size: 70px;
            width: 100%;
            text-align: center;
        }
        .hero-description{
            font-size: 24px;
            width: 100%;
            margin-top: 0;
        }

        .blog-lead-container{
            align-items: center;
        }
        .blog-lead-container h1{
            font-size: 50px;
            text-align: center;
            width: 90%;
            line-height: 150%;
        }

        .business-here {
            align-items: center;
        }
        .business-here p{
            text-align: center;
            font-size: 50px;
        }

        .building-for-women{
            flex-direction: column;
            justify-content: center;
        }

        .build-image-div{
            width: 70%;
        }

        .women-title{
            text-align: center;
        }
        .women-desc{
            text-align: center;
            font-size: 20px;
            width: 100%;
        }
        .women-text-wrapper{
            width: 70%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        /* footer */
        .footer{
            height: auto;
            align-items: center;
        }
        .footer-links{
            font-size: 14px;
        }
        .div-1-footer{
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        .first- {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        .logo-white{
            width: 25%;
        }

        .second-{
            width: 100%;
            justify-content: space-between;
            margin-bottom: 2rem;
            margin-top: 2rem;
        }

        .third-{
            display: flex;
            justify-content:space-between;
            align-items: baseline;
            width: 100%;
            margin-bottom: 2rem;
        }
        .text-footer{
          text-align: center;
          /* font-size: 14px; */
        }
        .install-apps{
            flex-direction: row;
        }
        .cookie-policy{
            width: 100%;


        }
        .business-here{
            padding-top: 20px;
        }
        .business-here p{
            text-align: center;
            width: 100%;
        }


        /* for nav-bar */
        .nav-list,
        .sign-in-div{
            visibility: hidden;
            display: none;
        }

        .hamburger-div,
        .hamburger-img{
            width: 50px;
            visibility: visible;
            display: flex;
        }
    }

    @media screen and (max-width: 820px) {
       
            .blog-img-wrapper{
               flex-direction: column;
               justify-content: center;
               align-items: center;
            }
            .img-div{
                width: 80%;
            }
            .blog-text-wrapper{
                align-items: center;
                display: flex;
                flex-direction: column;
                text-align: center;
            }
            .blog-text{
                margin: 0;
                text-align: center;
            }
            .download-section{
                justify-content: center;
            }
            .download-images img{
                width: 50%;
                
            }
            .download-images{
                width: 40%;
                justify-content: center;
                align-items: flex-end;
                gap: 1.3em;
                flex-direction: column;
                
            }
            .download-text{
                width: 50%;
            }
            .download-title{
                font-size: 24px;
            }
            .download-desc{
                font-size: 20px;
            }
        
    }

    @media screen and (max-width: 689px) {
        .hero-text-div h1{
            font-size: 45px;
            width: 100%;
        }
        .hero-description{
            font-size: 20px;
        }
        .women-desc{
            font-size: 18px;
        }
        .first- p{
            font-size: 18px;
            
        }
        .newsletter-div {
            width: 40%;
        }
        .footer{
            padding: 40px 30px ;
        }
        .blog-lead-container h1{
            font-size: 40px;
        }
        .imageSlider-text p{
            font-size: 35px;
            width: 80%;
        }

        .download-title{
            font-size: 20px;
        }
        .download-desc{
            font-size: 18px;
        }
        .imageSlider-text{
            width: fit-content;
        }
    }


    @media screen and (max-width: 645px) {
        .hero-text-div h1{
            font-size: 40px;
            width: 100%;
        }
        .business-here p{
            font-size: 32px;
        }
        .women-desc{
            font-size: 16px;
        }
        .download-title{
            font-size: 18px;
        }
        .download-desc{
            font-size: 16px;
        }

        .images-partner{
            justify-content: center;
            width: 90% !important;
        }
    }

    @media screen and (max-width: 645px) {

        .hero-container{
            margin-bottom: 0;
        }
        .partners{
            align-items: center;
            padding-bottom: 80px;
        }
        .images-partner{
            width: 85%;
            flex-wrap: wrap;
            gap: 15px;
        }
        /* for the previous partners images */
        /* .images-partner img{
            width: 25%;
        } */
        .newsletter-div{
            width: 50%;
        }
    }

    @media screen and (max-width: 600px) {
        .women-title{
            font-weight: 38px;
        }
        .imageSlider-text p{
            font-size: 28px;
        }
        .first-{
            flex-direction: column;
            align-items: flex-start;
            padding-left: 27px;
        }
        .third-{
            padding-left: 29px;
        }
        .newsletter-div {
            width: 80%;
        }
    }

    @media screen and (max-width: 580px) {
        .download-section{
            flex-direction: column;
            align-items: center;
            height: fit-content;
            padding: 25px 0;
        }
        .download-images{
            flex-direction: row;
            }
        .download-text{
            width: 100%;
        }
        .download-title,
        .download-desc{
            text-align: center;
        }
        .imageSlider-text p{
            font-size: 24px;
            width: 70%;
        }

        .first- p{
            width: 100%;
        }
        .women-text-wrapper{
            width: 90%;
            
        }
        .imageSlider-container{
            height: max-content;
            gap: 30px;
            padding-top: 100px;
            padding-bottom: 100px;
        }

        .blog-lead-container h1{
            font-size: 32px;
            width: 90%;
        }
        .hero-description{
            font-size: 16px;
        }
        .business-here p{
            width: 100%;
        }
        .install-apps {
            display: flex;
            flex-direction: column;
        }
        .third-{
            padding-right: 8px;
        }

        .partners-divider.one{
            width: 50%;
        }


    }
    

    @media screen and (max-width: 550px) {
        .brand-awareness-div{
            width: fit-content;
            padding: 0 8px;
        }
        .brand-awareness-div p{
            font-size: 10px;
        }
    }
    @media screen and (max-width: 520px) {

        .hero-text-div h1{
            font-size: 32px;
            width: 100%;
        }
    }

    @media screen and (max-width: 520px) {
        .imageSlider-text p{
                font-size: 20px;
                width: 80%;
    
        }
    }

    @media screen and (max-width: 460px) {
         .partners p{
            font-size: 14px;
        }
        .blog-lead-container h1,
        .hero-text-div h1{
            font-size: 28px;
        }
        /* .second-{
            flex-direction: column;
        } */

        .first-,
        .second- ul,
        .third-{
            padding-left: 0;
        }
        .text-footer p{
            font-size: 12px;
        }
        .cookie-policy{
            padding: 0;
        }
        .copyright{
            padding: 0;
        }

        .hero-description{
            font-size: 14px;
        }
        .logo-white{
            padding: 0;
        }

        .business-here p{
            font-size: 28px;
        }

    }
    @media screen and (max-width: 420px) {
        .women-desc{
            font-size: 14px;
        }
        .download-section{
            margin: 120px 20px;
        }
        .women-title{
            font-size: 38px;
        }
    }
    @media screen and (max-width: 400px) {

        body{
            min-width: 400px;
        }
        .blog-lead-container h1{
            font-size: 28px;
            width: 100%;
        }
        .hero-text-div h1{
            width: 90%;
        }
        .brand-awareness-div{
            padding: 0;
        }
        .brand-awareness-div p{
            width: 90%;
        }
        .hero-text-div h1{
            width: 100%;
            font-size: 26px;
        }
    }